* {
  box-sizing: border-box;
}
body {
  font-family: "Pacifico", Tahoma;
  color: $textColor;
  overflow: hidden;
}
a {
  color: $secondOrange;
  user-select: none;
  -webkit-user-select: none;
}
section {
  background-color: $backgroundColor;
  height: 100vh;
  width: 100vw;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
