@define-mixin atSmall {
  @media (min-width: 600px) {
    @mixin-content;
  }
}
@define-mixin atMedium {
  @media (min-width: 800px) {
    @mixin-content;
  }
}
@define-mixin aboutLarge {
  @media (min-width: 1065px) {
    @mixin-content;
  }
}
@define-mixin atLarge {
  @media (min-width: 1125px) {
    @mixin-content;
  }
}
