/* Reseting all elements */
@import "normalize.css";

/* Base styles importing */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Variable */
@import "./base/_variables.pcss";
/* Global styles */
@import "./base/_global.pcss";

/* Styles */
@import "./modules/_home.pcss";
@import "./modules/_btn.pcss";
@import "./modules/_poll.pcss";
