.btn {
  display: inline;
  background-color: $secondOrange;
  padding: 1rem 1rem;
  width: 14rem;
  text-align: center;
  font-size: 1.1rem;
  &--round {
    border-radius: 10rem;
  }
  & > a {
    color: #fff;
    text-decoration: none;
  }
  &--main {
    border-radius: 0.5rem;
    width: 49%;
  }
}
